<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>With a post request, You can fetch social stats from various social network platforms.</p>
    <span>Author <%= email %></span>
  </body>
</html>
